<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="container mt-4">
      <h1>Info Corona</h1>
      <ul>
        <% corona.forEach(data => { %> <% if (data.attributes.Kasus_Meni >= 500)
        { %>
        <li>
          <%= data.attributes.Provinsi %>: <%= data.attributes.Kasus_Meni %>
        </li>
        <% } %> <% }) %>
      </ul>
    </div>
  </body>
</html>
